@model IEnumerable<tutorial.Models.Ciudad>   

    <select class="form-control" id="codCiudad" name="codCiudad">

        @foreach (var item in Model)
        {

            <option value="@item.id">

                @item.nombreCiudad

            </option>

        }

    </select>



